Importing the necessary python libraries

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading the data into Data Frames

In [100]:
dow_data = pd.read_csv('dow_jones.csv')
dow_data['Date'] = pd.to_datetime(dow_data['Date'], format='mixed')
dow_data.set_index('Date', inplace=True)
dow_data = dow_data.resample('YE').last()
dow_data.reset_index(inplace=True)
dow_data['Date'] = dow_data['Date'].dt.year
dow_data = dow_data.rename(columns={'Date': 'Year'})
dow_data.head()

   Year      Open      High       Low     Close
0  2015  17590.66  17590.66  17421.16  17425.03
1  2016  19833.17  19852.55  19718.67  19762.60
2  2017  24849.63  24871.66  24719.22  24719.22
3  2018  23153.94  23333.18  23118.30  23327.46
4  2019  28414.64  28547.35  28376.49  28538.44

In [101]:
gold = pd.read_csv('stock_gold.csv')
gold['Year'] = pd.to_datetime(gold['Year'])
cols = gold.columns[1:]
for i in cols:
    gold[i] = gold[i].str.replace(',', '').astype(float)
gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                14 non-null     datetime64[ns]
 1   Jewellery           14 non-null     float64
 2   Central banks       14 non-null     float64
 3   Private Investment  14 non-null     float64
 4   Bars & Coins        14 non-null     float64
 5   ETFs                14 non-null     float64
 6   Other               14 non-null     float64
 7   Total               14 non-null     float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 1.0 KB