Importing the necessary python libraries

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading the data into Data Frames

In [63]:
dow_data = pd.read_csv('dow_jones.csv')
dow_data['Date'] = pd.to_datetime(dow_data['Date'], format='mixed')
dow_data.set_index('Date', inplace=True)
dow_data = dow_data.resample('YE').last()
dow_data.head(15)

                Open      High       Low     Close
Date
2015-12-31  17590.66  17590.66  17421.16  17425.03
2016-12-31  19833.17  19852.55  19718.67  19762.60
2017-12-31  24849.63  24871.66  24719.22  24719.22
2018-12-31  23153.94  23333.18  23118.30  23327.46
2019-12-31  28414.64  28547.35  28376.49  28538.44
2020-12-31  30417.64  30637.47  30344.50  30606.48
2021-12-31  36385.85  36484.94  36303.97  36338.30
2022-12-31  33121.61  33152.55  32847.82  33147.25
2023-12-31  37701.63  37759.43  37538.80  37689.54
2024-12-31  38779.12  38936.93  38727.67  38834.86

In [86]:
gold = pd.read_csv('stock_gold.csv')
gold['Year'] = pd.to_datetime(gold['Year'])
cols = gold.columns[1:]
for i in cols:
    gold[i] = gold[i].str.replace(',', '').astype(float)
gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                14 non-null     datetime64[ns]
 1   Jewellery           14 non-null     float64
 2   Central banks       14 non-null     float64
 3   Private Investment  14 non-null     float64
 4   Bars & Coins        14 non-null     float64
 5   ETFs                14 non-null     float64
 6   Other               14 non-null     float64
 7   Total               14 non-null     float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 1.0 KB